.image-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: #0056b3;
    text-decoration: underline;
}
a:not([href]):not([tabindex]) {
    color: #0056b3;
    text-decoration: none;
}
a:not([href]):hover {
    color: #0056b3;
    text-decoration: underline;
}
a:hover {
    color: #233dd2;
    text-decoration: underline;
}
a:not([href]) {
    color: #0056b3;
    text-decoration: underline;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
a {
    /* color: initial;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects; */
    cursor: pointer;
}

.panel-heading {
    margin-bottom: 7px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.identity-image {
    width: 150px;
    height: 150px;
}

.identity-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 10px;
}

img{
    cursor: pointer;
}

.doc-details {
    margin-left: 5px;
}