<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">List Schemes</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>

                                <th scope="col">S.N.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Product Volume</th>
                                <th scope="col">Target Points</th>                                
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">View</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [hidden]="schemes?.length">
                                <th colspan="10">
                                    <h3 class="text-danger text-center">No Schemes found</h3>
                                </th>
                            </tr>
                            <tr *ngFor="let scheme of schemes | paginate: {
                                id: 'schemeList',
                                itemsPerPage: itemPerPage,
                                currentPage: page,
                                totalItems: totalSchemes }; let i = index;">
                                <th scope="row">
                                    {{ itemPerPage * (page - 1) + i + 1 }}
                                </th>
                                <td>
                                    {{scheme.name}}
                                </td>
                                <td>
                                    {{scheme.product_volume}}
                                </td>
                                <td>
                                    {{scheme.default_points}}
                                </td>
                                <td>
                                    {{scheme.bonus_start_date | date: "dd/MM/yyyy"}}
                                </td>
                                <td>
                                    {{scheme.scheme_end_date | date: "dd/MM/yyyy"}}
                                </td>
                                <td [style.color]="scheme.status == 'expired' ? 'red' : 'green'">
                                    {{scheme.status |uppercase}}
                                </td>
                                <td>
                                    <button class="view-icon-only-btn" (click)="editSchemesFunction(scheme.id)"><i
                                            class="fas fa-eye"></i></button>
                                </td>
                                <td>
                                    <button class="delete-icon-only-btn" (click)="openDeleteSchemeModal(scheme.name, scheme.id)"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="txt-align-right">
                    <pagination-controls id="schemeList" (pageChange)="selectPage($event)"></pagination-controls>
                </div>

            </div>
        </div>
    </div>
    <!-- Dark table -->
  <!-- The Modal -->
  <div class="modal fade" role="dialog" id="schemeDelete">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4>Delete Scheme!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p class="modalText">Are you sure you want to delete <strong>{{schemeName}}</strong>?</p>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-outline-success" (click)="deleteScheme()">Yes</button>
          <button class="btn btn-outline-danger" (click)="closeModal()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>