<worker-details *ngIf="userRole?.userType === 'worker'" [stores]="stores" (loadUserDetail)="userDetails()" [workerDetail]="userInfo"></worker-details>

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" *ngIf="userRole?.userType === 'manager' || userRole?.userType === 'administrator'"
    style="min-height: 70px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--4" *ngIf="userRole?.userType === 'manager' || userRole?.userType === 'administrator'">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{userRole?.userType |titlecase}} Details</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-signin">

                        <div class="pl-lg-4">

                            <!-- <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group image-wrap">
                                        <label class="form-control-label" for="input-productimage">Profile Image</label>
                                        <div class="image-container">
                                            <img (click)="openImagerViewer($event)" [src]="workerDetail?.aditional_data?.user_image || 'assets/img/brand/argon-white.png'"
                                                class="img-rounded image"  alt="Profile Image" >
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <table class="table table-striped">
                                            <tr *ngIf="userInfo?.data?.name">
                                                <th>Name:</th>
                                                <td>{{userInfo?.data?.name}}</td>
                                            </tr>
                                            <tr *ngIf="userInfo?.data?.user_personal?.dob">
                                                <th>Date Of Birth:</th>
                                                <td>{{userInfo?.data?.user_personal?.dob}}</td>
                                            </tr>
                                            <tr *ngIf="userInfo?.data?.user_personal?.gender">
                                                <th>Gender:</th>
                                                <td>{{userInfo?.data?.user_personal?.gender}}</td>
                                            </tr>
                                            <tr *ngIf="userInfo?.data?.mobile_no">
                                                <th>Mobile Number:</th>
                                                <td>{{userInfo?.data?.mobile_no}}</td>
                                            </tr>
                                            <tr *ngIf="userInfo?.data?.email">
                                                <th>Email ID:</th>
                                                <td>{{userInfo?.data?.email}}</td>
                                            </tr>
                                            <tr *ngIf="userInfo?.data?.user_personal?.address">
                                                <th>Address</th>
                                                <td>{{userInfo?.data?.user_personal?.address}}</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading form-control"
                                                    (click)="collapseAccordion('identity')">
                                                    <h4 class="panel-title">Identity Proof
                                                    </h4>
                                                    <i id="identityIcon" class="fa fa-angle-down"></i>
                                                </div>
                                                <div id="identity" class="panel-collapse collapse in">
                                                    <h4>Aadhar Card</h4>
                                                    <div class="identity-container">
                                                        <div>
                                                            <label class="form-control-label">Name on Aadhar
                                                                Card:</label>
                                                            <label class="doc-details">{{workerDetail?.data?.user_documents?.aadhar_name}}</label><br>
                                                            <label class="form-control-label">Aadhar Number:</label>
                                                            <label>{{workerDetail?.data?.user_documents?.aadhar_no}}</label>
                                                        </div>
                                                        <img (click)="openImagerViewer($event)" class="img-thumbnail identity-image" [src]="workerDetail?.aditional_data?.aadhar_image" alt="Aadhar Card">
                                                    </div><hr>
                                                    <h4>PAN Card</h4>
                                                    <div class="identity-container">
                                                        <div>
                                                            <label class="form-control-label">Name on PAN Card:</label>
                                                            <label>{{workerDetail?.data?.user_documents?.pan_name}}</label><br>
                                                            <label class="form-control-label">PAN Number:</label>
                                                            <label>{{workerDetail?.data?.user_documents?.pan_no}}</label>
                                                        </div>
                                                        <img (click)="openImagerViewer($event)" class="img-thumbnail identity-image" [src]="workerDetail?.aditional_data?.pan_image" alt="PAN Card">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading form-control"
                                                (click)="collapseAccordion('bankDetail')">
                                                <h4 class="panel-title">Bank Details
                                                </h4>
                                                <i id="bankDetailIcon" class="fa fa-angle-down"></i>
                                            </div>
                                            <div id="bankDetail" class="panel-collapse collapse">
                                                <table class="table table-striped">
                                                    <tr>
                                                        <th>Account Holder Name:</th>
                                                        <td>{{workerDetail?.data?.user_bank?.account_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Bank Name:</th>
                                                        <td>{{workerDetail?.data?.user_bank?.bank_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Account Number:</th>
                                                        <td>{{workerDetail?.data?.user_bank?.account_no}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>IFSC Code:</th>
                                                        <td>{{workerDetail?.data?.user_bank?.ifsc_code}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Branch Address:</th>
                                                        <td>{{workerDetail?.data?.user_bank?.branch_address}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <img (click)="openImagerViewer($event)" class="img-thumbnail identity-image" [src]="workerDetail?.aditional_data?.bank_document" alt="Bank Document">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading form-control"
                                                (click)="collapseAccordion('points')">
                                                <h4 class="panel-title">Points
                                                </h4>
                                                <i id="pointsIcon" class="fa fa-angle-down"></i>
                                            </div>
                                            <div id="points" class="panel-collapse collapse">
                                                <table class="table table-striped">
                                                    <tr>
                                                        <th>Total Points:</th>
                                                        <td>23423423</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Rewarded Points:</th>
                                                        <td>34534</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Unrewarded Points:</th>
                                                        <td>34534</td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td>
                                                            <button class="btn btn-outline-primary">Reward</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <!-- <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <button class="btn btn-outline-success"*ngIf="workerDetail?.data?.is_completed !=1" data-toggle="modal"
                                    data-target="#myModal">Approve</button>
                                    <button class="btn btn-outline-danger" *ngIf="workerDetail?.data?.status !=0" data-toggle="modal"
                                    data-target="#myDisModal">Disapprove</button>
                                </div>
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>