<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 70px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--4">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Acitivity Details</h3>
                        </div>
                        <!-- <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div> -->
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-signin">

                        <div class="pl-lg-4">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control text-danger"
                                            *ngIf="activityDetail?.status == '0'">Activity Disapproved!</label>
                                        <label class="form-control text-success"
                                            *ngIf="activityDetail?.status == '1'">Activity Approved!</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Worker Name:</label>
                                        <label class="form-control">{{activityDetail?.customer_name}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Worker Mobile
                                            Number:</label>
                                        <label class="form-control">{{activityDetail?.customer_mobile_no}}</label>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Invoice Date:</label>
                                        <label class="form-control">{{activityDetail?.date}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Invoice Number:</label>
                                        <label class="form-control">{{activityDetail?.invoice_no}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Total Bill Value:</label>
                                        <label class="form-control">{{activityDetail?.total_bill_value}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Total Product
                                            Value:</label>
                                        <label class="form-control">{{activityDetail?.total_product_value}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Category:</label>
                                        <label class="form-control">{{activityDetail?.categoryName}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="activityDetail?.marble_slab">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Marbel Slab:</label>
                                        <label class="form-control">{{activityDetail?.marble_slab}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="activityDetail?.marble_cut_size">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Marbel Cut Size:</label>
                                        <label class="form-control">{{activityDetail?.marble_cut_size}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="activityDetail?.granite_slab">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Granite Slab:</label>
                                        <label class="form-control">{{activityDetail?.granite_slab}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="activityDetail?.granite_cut_size">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Granite Cut Size:</label>
                                        <label class="form-control">{{activityDetail?.granite_cut_size}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="activityDetail?.marble_granite_product">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Marbel & Granite
                                            Articles:</label>
                                        <label class="form-control">{{activityDetail?.marble_granite_product}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">                                        
                                        <div class="img-cnt">
                                            <div class="invoice">
                                                <label class="form-control-label" for="input-status">Invoice:</label>
                                                <img (click)="openImagerViewer($event)" class="img-thumbnail" alt="Invoice" [src]="activityDetail?.invoice_url || '/assets//img//brand/avtar.png'">
                                            </div>
                                            <div class="invoice">
                                                <label class="form-control-label" for="input-status">Site Picture:</label>
                                                <img (click)="openImagerViewer($event)" class="img-thumbnail" alt="Site Picture" [src]="activityDetail?.site_image || '/assets//img//brand/avtar.png'">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="activityDetail?.status == '2'">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <button class="btn btn-outline-success" data-toggle="modal"
                                            data-target="#approveActivity">Approve Activity</button>
                                        <button class="btn btn-outline-danger" data-toggle="modal"
                                            data-target="#disapproveActivity">Disapprove Activity</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" role="dialog" id="approveActivity">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="modal-title text-center">Approve Activity</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Select Scheme</label>
                            <select class="form-control" [(ngModel)]="selectedScheme">
                                <option value="">Select Scheme</option>
                                <option value="{{items?.id}}" *ngFor="let items of schemes">
                                    {{items.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-outline-success" (click)="approveActivity()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" role="dialog" id="disapproveActivity">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4>Disapprove Activity!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body">
                    <p class="modalText">Are you sure you want to disapprove activity?</p>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-outline-danger" (click)="disApproveActivity()">Disapprove</button>
            </div>
        </div>
    </div>
</div>

<app-image-viewer *ngIf="src" [src]="src || ''" [alt]="alt || ''" [style.display]="display"
    (onDisplayNone)="onDisplayNone()"></app-image-viewer>