<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Stores</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">SN</th>
                <th scope="col">Store Name</th>
                <th scope="col">Store manager name</th>
                <th scope="col">Store Category</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Country</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr [hidden]="stores?.length">
                <th colspan="10">
                  <h3 class="text-danger text-center">No Stores found</h3>
                </th>
              </tr>
              <tr [hidden]="!stores?.length" *ngFor="let store of stores | paginate: {
                id: 'storeList',
                itemsPerPage: itemPerPage,
                currentPage: page,
                totalItems: totalStores 
              }; let i = index;">
                <th scope="row">
                  {{ itemPerPage * (page - 1) + i + 1 }}
                </th>
                <td>
                  {{store?.name}}
                </td>
                <td>
                  {{store?.storeManagerName}}
                </td>
                <td>
                  {{store?.categoryName}}
                </td>
                <td>
                  {{store?.address}}
                </td>
                <td>
                  {{store?.city}}
                </td>
                <td>
                  {{store?.state}}
                </td>
                <td>
                  {{store?.country}}
                </td>
                <td>
                  <button class="view-icon-only-btn" (click)="viewStore(store?.id)"><i class="fas fa-eye"></i></button>
                </td>
                <td>
                  <button class="delete-icon-only-btn" (click)="openDeleteStoreModal(store.name, store.id)"><i
                      class="fas fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="txt-align-right" [hidden]="!stores?.length">
          <pagination-controls id="storeList" (pageChange)="selectPage($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->

  <!-- The Modal -->
  <div class="modal fade" role="dialog" id="storeDelete">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4>Delete Store!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p class="modalText">Are you sure you want to delete <strong>{{storeName}}</strong>?</p>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-outline-success" (click)="deleteStore()">Yes</button>
          <button class="btn btn-outline-danger" (click)="closeModal()">No</button>
        </div>
      </div>
    </div>
  </div>

</div>