<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 ">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">List Activity</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Customer Mobile Number</th>
                                <th scope="col">Invoice Number</th>
                                <th scope="col">Store Id</th>
                                <th scope="col">Store Name</th>
                                <th scope="col">Total Bill Value</th>
                                <th scope="col">Total Product Value</th>
                                <th scope="col">View</th>
                                <!-- <th scope="col">Delete</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr [hidden]="activity?.length">
                                <th colspan="10">
                                    <h3 class="text-danger text-center">No Schemes found</h3>
                                </th>
                            </tr>
                            <tr *ngFor="let items of activity | paginate: {
                                id: 'activitiesList',
                                itemsPerPage: itemPerPage,
                                currentPage: page,
                                totalItems: totalActivities };let i = index">
                                <th scope="row">
                                    {{ itemPerPage * (page - 1) + i + 1 }}
                                </th>
                                <td>
                                    {{items?.customer_name}}
                                </td>
                                <td>
                                    {{items?.customer_mobile_no}}
                                </td>
                                <td>
                                    {{items?.invoice_no}}
                                </td>
                                <td>
                                    {{items?.store?.id}}
                                </td>
                                <td>
                                    {{items?.store?.name}}
                                </td>
                                <td>
                                    {{items?.total_bill_value}}
                                </td>
                                <td>
                                    {{items?.total_product_value}}
                                </td>
                                <td>
                                    <button class="view-icon-only-btn" (click)="viewActivity(items?.id)" [routerLink]="['/acitivty', items?.id]"><i class="fas fa-eye"></i></button>
                                </td>
                                <!-- <td>
                                    <button class="delete-icon-only-btn"><i class="fas fa-trash"></i></button>
                                </td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="txt-align-right">
                    <pagination-controls id="activitiesList" (pageChange)="pageChange($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>